@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap')

sizer(w,h)
    width w
    height h
flexer(jc,ai,fw)
    display flex
    justify-content: jc 
    align-items: ai  
    align-content: ai
    flex-flow: fw
fonter(fw,fs,lh)
   font-family: "Jura", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-weight: fw;
   font-size: fs;
   line-height: lh;

anone()
   background: transparent
   border: none 
   text-decoration: none
   outline: none 
   color black

c = center 
rw = row wrap
cw = column wrap
cn = column nowrap  
s = flex-start 
e = flex-end  
rn = row nowrap
sb = space-between 
sa = space-around

lig = 100 
slig = 200 
med = 400 
sbold = 500 
bold = 700

y = #FFB75E
b = #2A2C34
