@import '../../modules/basic'

.cart_con
   sizer(99.6vw,100vh)
   position fixed 
   top 0 
   left 0
   overflow: hidden
.cart
   z-index 3
   position relative
   top 0 
   left 51.1972222222vw
   background white
   sizer(48.4027777778vw,100vh)
   box-sizing: border-box
   padding-top: 8.88671875vh 
.cart_title
   fonter(sbold,1.3888rem,1.5rem)
   margin:0 0 4.58984375vh 5.55555vw
.cart_points
   box-sizing: border-box
   padding-right 0.7vw
   width 100% 
   max-height: 64.5859vh
   overflow-y: scroll
   flexer(s,e,cn)
   gap 0.87890625vh
.cart_element
   sizer(42.5vw,23.14453125vh)
   min-height: 23.14453125vh
   border 1px solid #D9D9D9 
   box-sizing: border-box 
   box-shadow: 0.247vw 0.39vh 1.38vw rgba(0, 0, 0, 0.164)
   border-radius: 1.48vh
   padding: 1.953125vh 2vw 1.75vh 2.7vw
   position: relative
   flexer(s,c,rn)
.cart_element_description
   flexer(c,s,cn) 
   gap 1.953125vh
.cart_element_title
   fonter(sbold,1.11rem,1.2rem)

.cart_element_img_con
   sizer(9.86vw,13.86vh)
.cart_element_img
   height 100%
   border-radius: 1.48vh
   box-shadow: 0.2vw 0.29vh .9vw y
.cart_element_quantity_text
   fonter(sbold,1.11rem,1.2rem)
   sizer(27.847vw,17vh)
   flexer(e,e,rn)
.delete_from_cart 
   position: absolute;
   anone()
   sizer(2.5vh,2.5vh)
   padding: 0
   border: 0
   transition: .4s
   flexer(c,c,rn)
   background: #FF9595
   border-radius 100vh
   right 1.18vw
   top 1.26953125vh
   &:hover
      background: rgba(148, 44, 44, 0.83)
.requestQuote
   background: b 
   sizer(38.88vw,6.64vh) 
   fonter(sbold,1rem,1.2rem)
   color white
   border 2px solid #D9D9D9
   outline: none 
   padding: 0
   border-radius 0.98vh
   transition: .3s
   &:hover
      opacity 70%
   &:active
      opacity 100%
      border 2px solid y
      background: y 
      color black
.total_section
   box-sizing border-box
   fonter(sbold,1.11rem,1.2rem)
   padding-right: 1.111vw
   width: 100%
   flexer(e,c,rn)
.total_section_con
   margin-top 2.32vh
   flexer(s,s,cn) 
   gap 3.41796vh
.requestQuote_con
   width 100%
   flexer(c,c,rn)