@import '../../modules/basic'

.product-card
   sizer(100%,28.417968vh)
   flexer(c,c,rn)
   //padding: 0 0 0 0.69444444444vw
   box-sizing: border-box
   gap 6.55555555556%
.cardStyle1
   background: #E7E7E7
.cardStyle2
   background: transparent
.card_img_container
   sizer(24.609375vh,24.609375vh)
   overflow: hidden
.card_text_con
   sizer(34.375%,52.577319%)
   flexer(c,c,cn)
   gap 2.05078vh
.card_title
   fonter(700,1rem,1.2rem)
.card_description
   fonter(500,1rem,1.2rem)
   text-align: c   
.card_button_request
   transition: .3s
   sizer(9.02777777778vw,3.125vh)
   flexer(c,c,rn)
   color y 
   background:transparent
   fonter(700,1rem,1.2rem) 
   border-radius 0
   user-select: none
   cursor:pointer
   &:hover
      background: white
      border-radius 0.48828vh
   &:active 
      background: b   
      border-radius 1vh
.product-card_img
   width 100%



