@import '../../modules/basic'


.footer_block
   sizer(99.6vw,38.48vh) 
   background: b
   flexer(c,c,cn)
   overflow: hidden
.footer_con
   sizer(94.1%,62.2%)
   margin-top: 1.27%
   overflow: hidden
.footer_top 
   sizer(100%,76.8%)
   flexer(s,c,rn) 
   gap 11.5vw 
.footer_line
   sizer(94.1%,1px)
   background: #FFFFFF
.short_logo
   user-select: none
   width: 7.36vw
.location_con
   width 40vw
   flexer(c,s,cn)
   gap 2.9vh
   fonter(650,1rem,2.2vh)
   color white
.footer_navigator
   width:32vw
   flexer(c,s,cn)
   fonter(650,1rem,2.15vh)
   color white 
   gap 3.5vh
.footer_navigator_e
   user-select: none
   cursor pointer
   transition .2s
   &:hover 
      color rgba(255, 255, 255, 0.678)

.footer_contactus
   sizer(48.22%,26%)
   flexer(c,s,cn)
   gap 4vh
   margin-top 12vh
   margin-left: 12.2vw
.footer_contactus_title
   fonter(650,1.125rem,2.15vh)
   color white 
.media_net
   width 100%
   flexer(s,c,rn) 
   gap 2.22vw
.links_img
   sizer(40px,40px)

.footer_bottom
   flexer(sb,e,rn)
   sizer(94.1%,4.589vh)
   fonter(100,1.125rem,2vh)

.user_links
   anone()
   color white
   transition .2s
   &:hover
      color rgba(255, 255, 255, 0.692)