@import '../../modules/basic'

.admin_cheker_key_con
   sizer(99.6vw,92vh)
   flexer(c,s,rn)

.admin_cheker_key
   margin 2vh 0 0 0
   sizer(64.86vw , 32.421875vh)
   background: rgba(248, 179, 87, 0.69)
   border-radius 0.97vh
   padding: 2.734vh 2.77777vw
   box-sizing border-box
.admin_cheker_title
   fonter(sbold,1.11rem,1.2rem)
.admin_cheker_input_con
   width 100%
.admin_cheker_input
   padding-left 2vh
   box-sizing: border-box
   sizer(100%,6.64vh)
   border-radius .97vh
   outline: none
   border none
   fonter(sbold,1.33rem,1.5rem)
   margin-top 2.539vh 

.admin_cheker_button_con
   sizer(100%,7.32vh)
   flexer(e,c,rn)
.admin_cheker_button
   margin-top 7.3242vh
   sizer(20.625vw,100%)
   outline: none
   padding: none
   border none
   border-radius: 0.97vh
   background: rgba(0, 0, 0, 0.64)
   color white 
   cursor pointer
   transition .4s
   fonter(sbold,1.11rem,1.2rem)
   &:hover
      background: rgba(0, 0, 0, 0.79)