@import '../../modules/basic'

.success_con
   top -20vh
   transition .2s
   position fixed
   sizer(100vw,12.69vh) 
   flexer(c,e,rn)
   z-index 2
.success_reset
   sizer(27.77%,69.23%)
   background rgba(248, 179, 87, 0.69)
   flexer(c,c,cn)
   border-radius 0.9vh
   fonter(400,1.5rem,1.8rem)