@import '../../modules/basic'


.header_con
   sizer(99.6vw,10.6vh)
   flexer(s,c,cn)
   overflow: hidden
   gap 0.78125vh
   overflow: hidden
.header
   sizer(100%,9.7vh)
   flexer(sb,c,rn)
.logo
   cursor pointer
   user-select: none
   margin-left 4.72vw;
   height 8.642vh
.nav
   margin-right 4.72vw;
   flexer(c,c,rn)
   gap 5.69vw

.nav_element
   fonter(650,1.125rem,2.15vh)
   cursor pointer
   transition: .2s
   user-select: none
   &:hover
      color y

.line
   background: #D9D9D9
   sizer(100vw,2px)