@import '../../modules/basic'

.OurProdBlock
   sizer(100%,58.3vh)
   background: #F4F4F4
   flexer(c,c,cn)
   gap 12.06%
.Our_prod_Title
   fonter(700,2.22rem, 2.5rem)
.Our_prod_Description
   fonter(500,1.38rem,1.5rem)
   text-align: center
.nav_to_prod
   user-select: none
   cursor pointer
   color y 
   fonter(500,1rem,1.2rem)
   background: #F4F4F4
   border 0 solid #F4F4F4
   outline: none 
   transition .4s
   sizer(18.54vw,5.46vh)
   border-radius 0
   &:hover
      border: 1px solid y
      border-radius 1.95vh
