@import '../../modules/basic'

.success-change-user-info_con
   position fixed 
   background: rgba(189, 255, 184, 0.87)
   border-radius 1.48vh 0 0 1.48vh
   z-index 4
   padding-left 2.368vw
   box-sizing: border-box
   transition: .8s
   gap 1.3888vw
   top 7.8125vh
   flexer(s,c,rn) 
   right -20vw
   opacity 0
   sizer(28.98vw,9.57vh)