@import '../../modules/basic'

.accountheader
   sizer(100%,26.4648437vh)
   background: y 
   box-sizing: border-box
   padding 5.76388888889vh 5vw 1.3888vw 7vw 
   flexer(c,s,cn)
   gap 8.59375vh
   .accountheader_title
      fonter(700,2.5rem,2.7rem)
      &::selection
         background: black
         color y
   .header_slider_menu
      flexer(sb,c,rn)
      width: 100%
      .log_out_btn
         sizer(7.222vw,3.125vh)
         flexer(c,c,rn)
         transition: .8s
         cursor pointer
         user-select none
         border-radius 0
         fonter(500,1rem,1.5rem)
         &:hover 
            border-radius .48vh 
            background: rgba(255, 255, 255, 0.801)
            color y
      .slider_menu_con
         gap 3.68vw
         position relative
         flexer(s,c,rn)
         gap 3.68vw
         .header_line_slider
            transition: .3s
            sizer(5vw,2px)
            background: black  
            border-radius 100vh
            position absolute
            top 2.63671875vh
         .header_point
            fonter(500,1rem,1.2rem)
            user-select: none
            cursor pointer