@import '../../modules/basic'

.products_con
   width: 99.6vw
   background: #F4F4F4
   padding 3.762695vh 6.8055555vw 0 6.8055555vw
   box-sizing: border-box
.products_title
   fonter(700,2.66rem,2.8rem)
   margin-bottom 7.03125vh
.products_list
  width: 100%  
.product_margin
   height 12.3046875vh