@import '../../modules/basic'

.reset_password_con
   position fixed 
   sizer(100vw,100vh) 
   top 0 
   left 0
   flexer(c,c,rn)

.reset_modal 
   sizer(44.44vw,34.86vh)
   border 1px solid #D9D9D9
   background: white
   border-radius 1.46vh
   box-shadow: 0.247vw 0.39vh 1.38vw rgba(0, 0, 0, 0.164)
   flexer(c,c,cn)  
   box-sizing border-box
   overflow hidden
   transition .8s
   position relative
   z-index : 1
.reset_sizer
   sizer(87.5%,84%)
.reset_forgot
   fonter(600,1.125rem,1.3rem)


.reset_button_con
   sizer(100%,19%)
   margin-top 12.8%
   flexer(s,c,rn)
   gap 1.77%
.reset_btn_text   
   user-select: none
   fonter(600,1.125rem,1.3rem)
   border 2px solid #D9D9D9
   outline none
   border-radius .97vh
   transition .2s
.reset_btn_send
   padding 0
   sizer(69.5%,100%)
   background: b 
   color white 
   &:hover 
      opacity: 70%
      sizer(98.2%,100%)

.reset_btn_close
   padding 0
   sizer(28.7%,100%)
   background: white 
   color b 
   &:hover 
      opacity: 70%
      color white
      background:b

.reset_fields_con
   sizer(87.5%,28%)
   flexer(e,s,cn)
   position: relative;
   margin-top 2vh
.dynamicInputreset
   sizer(100%, 68%)
   outline none
   border-top none
   border-left none
   border-right none
   border-bottom solid 2px #D9D9D9
   box-sizing border-box
   fonter(650, 1.5rem, 1.6rem)
   padding-left .5vh
   &::placeholder
      opacity 0
   &:focus
      ~ .dynamicLabelreset
         color y
   &:not(:placeholder-shown)
      ~ .dynamicLabelreset
         opacity 60%
         top 0
.dynamicLabelreset
   user-select none
   transition .2s
   position absolute
   top 3.5vh
   left .5vh
   fonter(650, 1.5rem, 1.6rem)
.swiper_content_text
   cursor pointer
   user-select: none